/*
    selector
*/

/* 전체 요소 셀렉터 */
* { font-size: 30px; }

/* 태그 셀렉터 */
ul { border: 1px solid blue; }
li { list-style: none; }

/* id 셀렉터 */
#div1 { background-color: green; }

/* class 셀렉터 */
.odd { font-weight: bold; }

/* 속성 셀렉터 - 타입 속성이 존재 */
input[type] {
    color: blue;
}

/* 속성 셀렉터 - 타입 속성 값 동일 */
input[type="text"] {
    color: red;
}

/* 속성 셀렉터 - 타입 속성 값 포함 */
input[type~="password"] {
    color: yellow;
}

/* 속성 셀렉터 - 타입 속성 값 포함 */
input[type|="datetime-local"] {
    color: orange;
}

/* 속성 셀렉터 - 타입 속성 값 시작 */
input[type^="date"] {
    color: black;
}

/* 속성 셀렉터 - 타입 속성 값 끝 */
input[type$="word"] {
    color: gray;
}

/* 속성 셀렉터 - 타입 속성 값 포함 */
input[type*="time"] {
    color: cyan;
}

/* 자식 셀렉터 - 직계 자식 */
div > ul { border-width: 5px; }
div > div > div { font-size: 40px; }

/* 후손 셀렉터 - 자손 모두 */
div ul { background-color: cyan; }
div ul li { text-decoration: underline; }

/* 인접 형제 셀렉터 */
ul + div {
    background-color: lightgray;
}

/* 일반 형제 셀렉터 */
input[type="text"] ~ input {
    background-color: blueviolet;
}





















